@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}

<div class="container mt-5 mb-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        Mật khẩu của bạn đã được đặt lại thành công. Vui lòng <a asp-page="./Login">bấm vào đây để đăng nhập</a>.
    </p>
</div>

