@using Microsoft.AspNet.Identity
@using System.Security.Claims
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Home Page";


}
<main style="text-align: center; color: green; font-weight: 700; font-size: 50px; ">
    <p>ỨNG DỤNG</p>
    <p style="color: red; font-size: 70px;">QUẢN LÝ ĐIỂM</p>
    <p>MÔN HỌC</p>
</main>