@model QLHocPhan_23TH0003.Models.LopHocPhan
@{
    var a = ViewData["HocPhan"] as IEnumerable<QLHocPhan_23TH0003.Models.HocPhan>;
}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="IdHocPhan" class="control-label">Học phần</label>
            <select asp-for="IdHocPhan" class="form-control" asp-items="(SelectList)ViewData["HocPhan"]"></select>
        </div>
        <div class="form-group">
            <label asp-for="MaLopHocPhan" class="control-label">Mã lớp học phần</label>
            <input asp-for="MaLopHocPhan" class="form-control" />
            <span asp-validation-for="MaLopHocPhan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TenLopHocPhan" class="control-label">Tên lớp học phần</label>
            <input asp-for="TenLopHocPhan" class="form-control" />
            <span asp-validation-for="TenLopHocPhan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SiSoToiDa" class="control-label">Sỉ số tối đa</label>
            <input asp-for="SiSoToiDa" class="form-control" />
            <span asp-validation-for="SiSoToiDa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ThoiGianHoc" class="control-label">Thời gian học</label>
            <input asp-for="ThoiGianHoc" class="form-control" />
            <span asp-validation-for="ThoiGianHoc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DiaDiemHoc" class="control-label">Địa điểm học</label>
            <input asp-for="DiaDiemHoc" class="form-control" />
            <span asp-validation-for="DiaDiemHoc" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="HeSoChuyenCan" class="control-label">Hệ số chuyên cần</label>
            <input asp-for="HeSoChuyenCan" class="form-control" />
            <span asp-validation-for="HeSoChuyenCan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HeSoGiuaKy" class="control-label">Hệ số giữa kỳ</label>
            <input asp-for="HeSoGiuaKy" class="form-control" />
            <span asp-validation-for="HeSoGiuaKy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HeSoThucHanh" class="control-label">Hệ số thực hành</label>
            <input asp-for="HeSoThucHanh" class="form-control" />
            <span asp-validation-for="HeSoThucHanh" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HeSoCuoiKy" class="control-label">Hệ số cuối kỳ</label>
            <input asp-for="HeSoCuoiKy" class="form-control" />
            <span asp-validation-for="HeSoCuoiKy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GhiChu" class="control-label">Ghi chú</label>
            <input asp-for="GhiChu" class="form-control" />
            <span asp-validation-for="GhiChu" class="text-danger"></span>
        </div>
    </div>
</div>