@model QLHocPhan_23TH0003.Models.LopHocPhan
@{
    ViewBag.Title = "Thêm lớp học phần";
}
<h4>@ViewBag.Title</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                ViewData["HocPhan"] = ViewBag.IdHocPhan;
            }
            @Html.Partial("_Fields", Model, ViewData)
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    


