@model QLHocPhan_23TH0003.ViewModel.HocPhanViewModel
@using QLHocPhan_23TH0003.Common.Constants
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title fs-5" id="exampleModalLabel">Cập nhật học phần</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="@UiConstants.CreateEditForm" action="/Admin/HocPhan_23TH0003/Edit" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="modal-body">
                @Html.Partial("_Fields", Model)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">Lưu thay đổi</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </form>
    </div>
</div>
