
@{
    var successMessage = TempData["SuccessMessage"];
    var errorMessage = TempData["ErrorMessage"];
}

<div class="bottom-0 end-0 p-1" style="z-index: 1100">
    <div id="toast-notify" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toast-message">
                @if (successMessage != null)
                {
                    <div class="alert alert-success">
                        @successMessage
                    </div>
                }

                @if (errorMessage != null)
                {
                    <div class="alert alert-danger">
                        @errorMessage
                    </div>
                }
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>