@model QLHocPhan_23TH0003.Models.SinhVien

@{
    ViewBag.Title = "Danh sách sinh viên";
  }
  <h4>@ViewBag.Title</h4>
<form action="@Url.Action("Create", "SinhVien_23TH0003")" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.Partial("_Fields", Model)
    
    <div class="form-group">
        <input type="submit" value="Lưu" class="btn btn-primary" />
    </div>
</form>