@model IEnumerable<QLHocPhan_23TH0003.Models.LopHocPhan>
@{
    ViewData["Title"] = "Trang chủ";
}

<div class="banner">
    <img src="~/img/banner2.png" style="width: 100%"/>
</div>

<section id="khoahoc">
    <div class="container">
        <h4 class="title"><span>CÁC KHÓA HỌC HIỆN TẠI</span></h4>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    var giaoviens = item.PhanCongGiangDays;
                    <div class="col-md-6">
                        <div class="col my-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@item.TenLopHocPhan</h5>
                                    <div class="card-text">@item.GhiChu</div>
                                    <div class="giaovien">
                                        Giáo viên:
                                        @if (giaoviens != null)
                                        {
                                            foreach (var gv in giaoviens)
                                            {
                                                <a href="#">@gv.GiangVien.HoTen</a>
                                            }
                                        }
                                    </div>
                                    <a href="#" class="btn btn-primary">Nhấn vào đây để truy cập khóa học</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>