@{
    ViewData["Title"] = "Trang chủ";
}

<div class="banner">
    <img src="~/img/banner2.png" style="width: 100%"/>
</div>

<section id="khoahoc">
    <div class="container">
        <h4 class="title"><span>CÁC KHÓA HỌC HIỆN TẠI</span></h4>
        <div class="row">
            <div class="col-md-6">
                <div class="col my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Trí tuệ nhân tạo</h5>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <div class="giaovien">
                                Giáo viên:
                                <a href="#">Nguyễn Thái Hùng</a>
                            </div>
                            <a href="#" class="btn btn-primary">Nhấn vào đây để truy cập khóa học</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Trí tuệ nhân tạo</h5>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <div class="giaovien">
                                Giáo viên:
                                <a href="#">Nguyễn Thái Hùng</a>
                            </div>
                            <a href="#" class="btn btn-primary">Nhấn vào đây để truy cập khóa học</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Trí tuệ nhân tạo</h5>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <div class="giaovien">
                                Giáo viên:
                                <a href="#">Nguyễn Thái Hùng</a>
                            </div>
                            <a href="#" class="btn btn-primary">Nhấn vào đây để truy cập khóa học</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Trí tuệ nhân tạo</h5>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <div class="giaovien">
                                Giáo viên:
                                <a href="#">Nguyễn Thái Hùng</a>
                            </div>
                            <a href="#" class="btn btn-primary">Nhấn vào đây để truy cập khóa học</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>