@using QLHocPhan_23TH0003.Common.Constants
@model QLHocPhan_23TH0003.Models.HocKy

<form action="/Admin/HocKy_23TH0003/Edit" method="post">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        @Html.HiddenFor(model => model.Id)
        @Html.Partial("_Fields", Model)
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        <a href="@Url.Action("Index", "HocKy_23TH0003")" class="btn btn-secondary" >Danh sách</a>
    </div>
</form>
